@model Product
@{
    ViewBag.Title = "Edit Product";
    Layout = "_AdminLayout";


    // TODO:: do not manually input "CategoryFK, it does not make sense
    // Rather associate a hidden field and let the user select human 
    // readable categories
    ViewBag.Categories = new List<Category>();
    ViewBag.Categories.Add(new Category { CategoryID=100, Name="Test", Description="Test" });
}

<h1>Edit product</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ProductID" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <div><span asp-validation-for="Description" class="text-danger"></span></div>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Category</label>
        <div><span asp-validation-for="CategoryFK" class="text-danger"></span></div>
        <select asp-for="CategoryFK" class="form-control">
            <option value="0">--- none ---</option>
            @foreach (var c in ViewBag.Categories)
            {
                <option value="c.CategoryID">@c.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>