
@{
    ViewData["Title"] = "Index";
}

<h2>Bike store</h2>
<div class="col-md-12">
    <div class="jumbotron"><a asp-controller="Product" asp-action="List">All products</a></div>
    <div class="jumbotron"><a asp-controller="Category" asp-action="List">All categories</a></div>
</div>

