@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>
<div class="col-md-12">
    <div class="jumbotron"><a asp-controller="ProductAdmin" asp-action="Index">Manage products</a></div>
    <div class="jumbotron"><a asp-controller="CategoryAdmin" asp-action="Index">Manage categories</a></div>
    <div class="jumbotron"><a asp-area="Identity" asp-page="/Account/Register">Register new user</a></div>
</div>

